.bg-img-contacto {
    /* background-image: url('./img/mep8.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    height: 100vh;
    position: relative;
    background-color: black;
}

.bg-img-contacto::before {
    content: "";
    opacity: 0.6;
    background-image: url('./img/mep8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container-contacto {
    position: absolute;
    margin-top: 220px;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

/*  Media querie tablet to pc    */

@media screen and (min-width: 700px) {
    .container-contacto {
        margin-left: 80px;
    }
}

@media screen and (min-width: 1000px) {
    .container-contacto {
        margin-left: 280px;
    }
}