.bg-img-cv {
    /* background-image: url('./img/mep6.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    height: 100vh;
    position: relative;
    background-color: black;
}

.bg-img-cv::before {
    content: "";
    opacity: 0.6;
    background-image: url('./img/mep6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container-cv {
    position: absolute;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    color: aliceblue;
    margin-top: 220px;
}

@media screen and (min-width: 700px) {
    .container-cv {

        width: 500px;
        margin-left: 100px;
    }
}

@media screen and (min-width: 1000px) {
    .container-cv {
        margin-left: 200px;
    }
}