.bg-img-investigacion {
    /* background-image: url('./img/mep4.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    height: 100vh;
    position: relative;
    background-color: black;
}

.bg-img-investigacion::before {
    content: "";
    opacity: 0.6;
    background-image: url('./img/mep4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.investigacion-container {
    width: 100%;
    height: 200px;
    margin-top: 200px;
    padding: 40px;
    position: absolute;
    color: aliceblue;

}

/*  Media querie tablet to pc    */

@media screen and (min-width: 1000px) {
    .investigacion-container {
        width: 600px;
        height: 500px;
        font-size: 20px;
        text-align: auto;
        margin-top: 200px;
        margin-left: 270px;
        padding: 40px;
        position: absolute;
        color: aliceblue;

    }


}