* {
  padding: 0;
  margin: 0;
}

.bg-img {
  /* background-image: url('./img/mep1.jpg'); */
  /* background-size: cover;
    background-repeat: no-repeat; */
  /* height: 100vh; */
  background-color: #e6e6e6;
  font-family: "IBM Plex Mono";
}

.logo-navbar {
  color: #050037 !important;
}

.container-principal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal h1{
  font-family: "IBM Plex Mono";
  font-size: 30rem;
  font-weight: bold;
  transition: ease-in-out .5s;
}

.linea-divisoria{
  width: 1px;
  height: 20px;
  background-color: black;
  margin: auto;
}

.margin-li{
  margin: 0px 10px;
}

.txt-que-hacemos{
  color: #050036;
  font-size: 5rem;
  letter-spacing: 5px;
}

.subrayado-letra{
  text-decoration: underline;
}

.container-txt-que-hacemos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-txt-que-hacemos p{
  padding: 0px 50px;
  margin-bottom: 0px;
}

.container-principal__equipo{
  width: 100%;
  padding: 0px 100px;
  justify-content: space-between;
  gap: 100px;
}

.container-principal__equipo--nombre-principal{
  color: #050036;
}

.container-principal__equipo--nombre-principal__p{
  margin-bottom: 0px;
  color: #3D395A;
  font-size: 1.2rem;
}

.container-principal__proyectos{
  width: 100%;
  padding: 0px 100px;
  justify-content: space-between;
}

.container-btn-bim{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}

.btn-bim{
  background-color: #050036;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  transition: ease-in-out .3s;
}

.btn-bim:hover{
  background-color: #1f1859;
}

/*                MEDIA QUERIES CELULARES                    */
@media (max-width: 768px) {
  .container-principal h1 {
    font-size: 9rem;
  }
}

/*                MEDIA QUERIES TABLETS                   */
@media (max-width: 1300px) and (min-width: 769px){
  .container-principal h1 {
    font-size: 20rem;
  }
}

.container-principal h1:hover{
  box-shadow: rgba(5, 00, 5, 0.4) 5px 5px, rgba(5, 00, 5, 0.3) 10px 10px, rgba(5, 00, 5, 0.2) 15px 15px, rgba(5, 00, 5, 0.1) 20px 20px, rgba(5, 00, 5, 0.05) 25px 25px;
}

.menu-burger{
  background-color: #050037 !important;
}